
global
    #log /dev/log local0
 
defaults
    #log global
    option httplog
    mode http
    timeout http-keep-alive 10s
    timeout connect 5s
    timeout server 60s
    timeout client 30s
    timeout http-request 30s

backend web
    http-reuse always
    server web0 flask:8000

 
frontend http
    bind *:80
    timeout client 5s
    timeout http-request 10s

    default_backend web
 
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin123
    mode http