<!DOCTYPE html>
<html>
    <title>Page Title</title>
    
    <div  style="background-color: #191919; width: 500px; border-radius: 10px;height: 270px;">
              <p class="padding35 tituloTxtGral2 tituloModal"></p>
              <div class="izq">
               <p></p>
               <div style="text-align: center;">
                <span style="font-size:2em;color:#ffffff;line-height:1.5em;font-family: Arial, sans-serif;">Don't have <span style="color:#e50a15;"><strong>Netflix</strong></span> with <span style="color:#00BEF5;"><strong>Telmex</strong></span> yet?<br> Get it and enjoy<br> your favorite content.<br> <span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://twitter.com/intent/tweet?text=Disfruta%20Netflix%20con%20Telmex%20durante%206%20meses%20por%20el%20mismo%20precio%20¡Va%20por%20nuestra%20cuenta!%20https%3A//telmex.com/web/hogar/netflix" onclick="dataLayer.push({'event':'addevent','macro-page':'/web/asistencia/paquetes-infinitum-con-netflix','event-value':'BotTwitter'});" target="_blank">
                </a></span></span></span>
               </div>
               <p></p> <a class="btn_naranja" style="box-sizing: content-box;
  display: block;
  background-color: #de2f1b;
  padding: 10px 40px;
  text-align: center;
  max-width: 200px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto 25px auto;
  color: #fff;
  font-weight: bold;
  border-radius: 35px;" target="_self" onclick="">Subscribe now</a>
              </div>
             </div>