# global
#     log stdout local0 debug
#     maxconn 4096

# defaults
#     log     global
#     mode    http
#     option  httplog
#     option  dontlognull
#     timeout connect 10s
#     timeout client  60s
#     timeout server  60s

# frontend http_front
#     bind *:80

#     # Capture headers for logging (use legacy syntax)
#     capture request header Content-Length len 20
#     capture request header Transfer-Encoding len 30

#     acl is_websocket hdr(Upgrade) -i websocket
#     use_backend websocket_back if is_websocket

#     default_backend http_back

# backend http_back
#     balance roundrobin
#     # Keep-alive is required to leave the smuggled request in the buffer
#     option forwardfor
#     option http-keep-alive
#     http-reuse always

#     server daphne_http django:8000 check

# backend websocket_back
#     balance roundrobin
#     timeout tunnel 1h
#     option forwardfor
#     server daphne_ws django:8001 check

# frontend stats
#     bind *:8404
#     stats enable
#     stats uri /stats
#     stats refresh 10s
#     stats auth admin:admin123
#     mode http
global
    log /dev/log local0
 
defaults
    log global
    option httplog
    mode http
    timeout http-keep-alive 10s
    timeout connect 5s
    timeout server 60s
    timeout client 30s
    timeout http-request 30s

backend web
    http-reuse always
    server web0 flask:8000

 
frontend http
    bind *:80
    timeout client 5s
    timeout http-request 10s

    default_backend web
 
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin123
    mode http